body,
main,
p,
strong,
button {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgray;
}

/* 공통 */

section.memo-home,
.memo-album {
    background-color: #fff;
    margin: 50px;
    padding: 20px;
    border-radius: 30px;
    box-sizing: border-box;
}

/** header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Pacifico', cursive;
}

.header-more {
    font-size: 1.5em;
}

/** 프로필 */
.wrap-profile-posted {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0 20px 0;
}

article.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    gap: 20px;
}

.wrap-profile-pic {
    width: 15vw;
    height: 15vw;
}

.profile-main-pic {
    object-fit: cover;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.profile-info {
    display: flex;
    align-items: flex-start;
    gap: 20%;
}

.user-name,
.btn-edit-name i {
    font-size: 1.2em;
}

.btn-edit-name {
    border: none;
    cursor: pointer;
    background-color: transparent;
}

/** 피드 아이콘 */
.sub-icons {
    display: flex;
    justify-content: space-between;
    margin: 0 20px 10px 20px;
    color: gray;
    font-size: 1.3rem;
    margin-bottom: 20px;
}

/* 왼쪽 메모 작성 홈 화면 */

/** 메모, 북마크 수량 */
#posted-memo {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.memo-quantity {
    text-align: center;
    min-width: 100px;
}

/** 피드 아이콘 add:selected */
.selected.add {
    color: black;
    border-bottom: solid black 3px;
}

/** 메모 입력 칸 */
.memo-write {
    width: 100%;
    padding-bottom: calc(90%);
    border-radius: 5px;
    border: 1px solid gray;
}

.btn-post {
    display: block;
    margin: 10px auto;
    margin-bottom: 0;
    padding: 5px;
}

/* 왼쪽 모아보기 아이콘 누를 때 show */
.memo-album.hidden {
    display: none;
}

/* 오른쪽 앨범형 화면 */

/* 프로필 */
.profile.album {
    margin: 50px;
}

.selected.album {
    color: black;
    border-bottom: solid black 3px;
}

/* 피드 아이콘 album:selected */

/** 메모 피드 */
.wrap-memos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(0, 1fr);
    gap: 5px;
}

[class*='memo-feed'] {
    aspect-ratio: 1/1;
    border-radius: 5px;
    position: relative;
}

/* 메모가 업로드 될 경우 메모에 보더 주기 */
.memo-saved {
    border: 1px solid gray;
}

/* 메모 안에 더보기 아이콘 */
.menu {
    position: absolute;
    bottom: 0;
    right: 5px;
    box-sizing: border-box;
    margin: 0;
    color: gray;
    cursor: pointer;
}

.hide-menu {
    display: none;
}

/* 더보기 아이콘 누르면 수정, 북마크, 삭제 아이콘 나타남 */
.icon-list {
    position: absolute;
    bottom: 0;
    right: 5px;
    display: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    color: gray;
}

.icon-list li i {
    cursor: pointer;
}

.show-icons {
    display: block;
}



/** 반응형 페이지 */
/* 맥북 13인치 데스크탑 브라우저 사이즈 */
@media (min-width: 1024px) {
    main.wrap-section {
        display: flex;
        justify-content: center;
    }

    section.memo-home,
    section.memo-album {
        width: 50%;
        box-sizing: border-box;
    }

    .wrap-profile-pic {
        width: 10vw;
        height: 10vw;
    }
}

/* 24인치 모니터 브라우저 사이즈 */
@media (min-width: 1500px) {
    main.wrap-section {
        display: flex;
        justify-content: center;
    }

    section.memo-home,
    section.memo-album {
        width: 50%;
    }

    .wrap-profile-pic {
        width: 8vw;
        height: 8vw;
    }

    .user-name,
    .btn-edit-name i {
        font-size: 1.4em;
    }
}